# Strings

```
Strings are ordered sequence of characters wrapped in single quotes or double quotes.
```

In [27]:
# following is an example of a string
sample_string = 'Hello, World!'
print(sample_string)

Hello, World!

```
We can access the elements of a string using it index.

Note! The first element of the string has index 0. The second element is at index 1 and so on.
```

In [3]:
# print the first element of the string sample_string
print(sample_string[0])

H

```
We can even use reverse index to access the element of a string in reverse order.

So, the last element of the string will have reverse index of -1.
The second last element of the string will have reverse index of -2 and so on.
```

In [4]:
# print the last element of the string sample_string
print(sample_string[-1])

!

# Length of a string

```
To find number of characters in a string we using the len() function.
```

In [12]:
# print the number of characters in a string
x = 'Hello, Python!'
number_of_characters = len(x)
print(number_of_characters)

14

# Slice

```
We use slicing to extract a section of the string.

Syntax:

str_var[start:stop:step]

where,
start is the start index. We start extraction from here.
stop is the last index. The element at this index is not included.
step is the number of element we hop or jump.
```

In [6]:
# extract all the elements
result = sample_string[:]
print(result)

Hello, World!

In [13]:
# extract from start and up to but not including index 5
result = sample_string[:5]
print(result)

Hello

In [7]:
# extract from index 1 till the end
result = sample_string[1:]
print(result)

ello, World!

In [8]:
# extract from index 1 till but not including index 5
result = sample_string[1:5]
print(result)

ello

In [11]:
# extract from begining and take 2 steps
result = sample_string[::2]
print(result)

Hlo ol!

# Reverse string

```
We can use the slicing to reverse the string.

Syntax: [::-1]
```

In [14]:
# reverse the string
result = sample_string[::-1]
print(result)

!dlroW ,olleH

# String are immutable

```
We cannot update value at any index of a string. It will throw error.

TypeError: 'str' object does not support item assignment
```

In [17]:
# following will throw error as we are trying to mutate string.
x = 'tom'
# x[1] = 'i'   # this will throw error, so this line is commented out.

In [19]:
# so to convert the above string 'tom' to 'tim' we can write the following
y = x[0] + 'i' + x[2]
print(y)

tim

In [20]:
# another example
x = 'Hello, World!'

# lets make this 'Hi, World!'
trailing_characters = x[5:]
y = 'Hi' + trailing_characters

print(y)

Hi, World!

# String concatenation

In [21]:
# joining two strings together using +
x = 'Hello'
y = 'World'
result = x + ', ' + y + '!'
print(result)

Hello, World!

In [23]:
# same string concatenated multiple times
x = 'Hello'
result = x * 3
print(result)

HelloHelloHello

# Some useful string functions

In [24]:
# to upper case
x = 'hello'
result = x.upper()
print(result)

HELLO

In [25]:
# split the string (default split by white space)
x = 'Hello World'
result = x.split()
print(result)

['Hello', 'World']

In [26]:
# split the string using comma ,
x = '1,2,3,4,5,6,7,8'
result = x.split(',')
print(result)

['1', '2', '3', '4', '5', '6', '7', '8']