# Input/Output

In [1]:
import pandas as pd

In [3]:
csv_record = pd.read_csv('customer_order.csv')
csv_record

  customer_id order_id  price
0          c1       o1    100
1          c2       o2    200
2          c3       o3    300
3          c1       o4    200
4          c2       o5    500
5          c3       o6    900

In [4]:
df = pd.DataFrame({
    'player1': [10, 20, 30],
    'player2': [20, 10, 40]
})
df

   player1  player2
0       10       20
1       20       10
2       30       40

In [6]:
df.to_csv('game-score.csv', index=False)

In [ ]:
game_score_df = pd.read_csv('game-score.csv');
game_score_df