# Series

In [1]:
import numpy as np
import pandas as pd

## create series from array

In [2]:
random_int_arr = np.random.randint(1,100,10)

In [3]:
pd.Series(random_int_arr)

0    66
1    22
2    35
3    17
4    75
5    26
6    44
7     4
8    95
9     3
dtype: int64

## create series from dictionary

In [5]:
score = {"batman": 100, "superman": 200, "ironman": 400, "spiderman": 500}

In [6]:
pd.Series(score)

batman       100
superman     200
ironman      400
spiderman    500
dtype: int64

## create series from array of values and index

In [11]:
values = [10, 20, 30, 40]
index = ['a', 'b', 'c', 'd']

In [12]:
pd.Series(values, index)

a    10
b    20
c    30
d    40
dtype: int64

## add two series

In [13]:
# this will add the values if the index is present in both the series, NaN otherwise.
s1 = pd.Series({"a": 1, "b": 2, "c": 3, "e": 8})
s2 = pd.Series({"a": 4, "b": 5, "c": 6, "d": 7})
s1 + s2

a    5.0
b    7.0
c    9.0
d    NaN
e    NaN
dtype: float64